EditorWPF/Service References/EditorService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EditorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EditorServices.DataContracts" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEditorService_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="IEditorService_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorService_GetImages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImages" />
  </wsdl:message>
  <wsdl:message name="IEditorService_GetImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IEditorService_RemoveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImage" />
  </wsdl:message>
  <wsdl:message name="IEditorService_RemoveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IEditorService">
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorService/AddImage" message="tns:IEditorService_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorService/AddImageResponse" message="tns:IEditorService_AddImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorService/GetImages" message="tns:IEditorService_GetImages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorService/GetImagesResponse" message="tns:IEditorService_GetImages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEditorService/RemoveImage" message="tns:IEditorService_RemoveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEditorService/RemoveImageResponse" message="tns:IEditorService_RemoveImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEditorService" type="tns:IEditorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddImage">
      <soap:operation soapAction="http://tempuri.org/IEditorService/AddImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImages">
      <soap:operation soapAction="http://tempuri.org/IEditorService/GetImages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveImage">
      <soap:operation soapAction="http://tempuri.org/IEditorService/RemoveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EditorService">
    <wsdl:port name="BasicHttpBinding_IEditorService" binding="tns:BasicHttpBinding_IEditorService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>